{% extends 'base.html' %}
{% load static %}
{% block title %}Blogs page{% endblock title %}
{% block style %}

<style>
  .background-image{
    background : rgba(0,0,0,0.3)url("https://s3.envato.com/files/212542380/Dark%20Background%20%20%20%2001_preview1%20.JPG");
    background-attachment : fixed;
    background-position: center;
    background-size : cover;
    {% comment %} background-repeat : no-repeat; {% endcomment %}
    height : 100vh;
    margin : 0;
    padding : 0;
    background-blend-mode:darken;
  }
</style>
{% endblock style %}
{% block navbar %}
{% if request.user.is_superuser %}
<li class="px-2 nav-item">
  <a class="nav-link" href="{% url 'addblog' %}">Add Blog</a>
</li>
{% endif %}
{% endblock navbar %}
{% block body %}
  
  
  <div class="background-image conatiner text-light">
    <center><strong><h1 class = "text-light py-3">View Blogs</h1></strong></center>
    
    <div class="conatiner px-5 py-3">
      <div class="row mb-2">
        {% for i in posts %}
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static  bg-dark">
              {% comment %} <strong class="d-inline-block mb-2 text-primary">World</strong> {% endcomment %}
              <h3 class="mb-0">{{ i.title }}</h3>
              <div class="mb-1 text-muted">{{ i.date }}</div>
              <p class="card-text mb-auto">{{ i.text | truncatewords:20 |safe }}</p>
              {% if request.user.is_superuser %}
              <a href="{% url 'adminblog' i.pid %}" class="stretched-link">Continue reading</a>
              {% else %}
              <a href="{% url 'blog' i.pid %}" class="stretched-link">Continue reading</a>
              {% endif %}
            </div>

            <div class="col-auto d-none d-lg-block">
              <img src="/media/{{ i.thumbnail }}" class="bd-placeholder-img" width="250" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
    
            </div>
          </div>
        </div> 
        {% if forloop.counter|divisibleby:2 %}
      <div class="w-100"></div>
      {% endif %}
        {% endfor %}
      </div>
    </div>
      
    
    
  </div>
  

{% endblock body %}