{% extends 'base.html' %}
{% block title %}Add Blog{% endblock title %}
{% block style %}
{% comment %} <script type = "text/javascript" src = "ckeditor/ckeditor.js"></script> {% endcomment %}
{% endblock style %}
{% block body %}
<div class="container">
  <center><h1 class = "py-4">Edit BLOG</h1></center>
    <form method = "POST">
      {% csrf_token %}
      {{ form.media }}
      {% comment %} {{ form.as_p }} {% endcomment %}
      {% comment %} <button type = "submit">SUBMIT</button> {% endcomment %}
      <div class="form-group py-3">
        <strong><label for="exampleInputEmail1" class = "py-2" style = "padding-right: 0.5rem!important;">Title:</label></strong>
        {{ form.title }}
      </div>
      <div class="form-group py-3">
        <strong><label for="exampleFormControlTextarea1" class = "py-2">Write Your Blog Here:</label></strong><br>
        {{ form.text }}
      </div>
      <div class="form-group py-3">
        <strong><label for="exampleFormControlFile1" class = "py-2">Select Thumbnail For Your Blog:</label></strong><br>
        {{ form.thumbnail }}
      </div> 
      {% comment %} {{ form.as_p }} {% endcomment %}
      <center><button type = "submit" class = "btn btn-success">SUBMIT</button></center>
    </form>
  </div>

{% endblock body %}