{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block style %}
<style>
  Body{
    background : rgba(0,0,0,0.3)url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxvZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
    background-attachment : fixed;
    background-position: center;
    background-size : cover;
    {% comment %} background-repeat : no-repeat; {% endcomment %}
    height : 100%;
    margin : 0;
    padding : 0;
    background-blend-mode:darken;
  }
  .heading{
    color : white;
    font-size : 200px;
  }
  .text{
    color : white;
    font-size : 45px;
  }
</style>
{% endblock style %}
{% block body %}
<div class = "background-image ">
  <div class="heading pt-5">
    <center>MY BLOG</center>
  </div>
  <div class="text">

    <p><center>
      Welcome to my blog website. I often write about coding, travelling and food. Hope you enjoy your time on this website and learn new things.
    </center></p>
  </div>
</div>
  
{% endblock body %}
