{% extends 'base.html' %}
{% block title %}User Login{% endblock title %}
{% block style %}
<style>   
  Body {  
      
    background : rgba(0,0,0,0.3)url("https://s3.envato.com/files/212542380/Dark%20Background%20%20%20%2001_preview1%20.JPG");
  background-attachment : fixed;
  background-position: center;
  background-size : cover;
  {% comment %} background-repeat : no-repeat; {% endcomment %}
  height : 100vh;
  margin : 0;
  padding : 0;
  background-blend-mode:darken; 
  }  
    button {   
           background-color: black;   
           width: 100%;  
            color: rgb(242, 140, 40);   
            padding: 15px;   
            margin: 10px 0px;   
            border: none;   
            cursor: pointer;   
             }   
     form {   
            {% comment %} border: 3px solid #f1f1f1;   {% endcomment %}
            color: rgb(242, 140, 40);  
            border-radius:20px;
        }   
     input[type=text], input[type=password] {   
            width: 100%;   
            margin: 8px 0;  
            padding: 12px 20px;   
            display: inline-block;   
            {% comment %} border: 2px solid green;    {% endcomment %}
            box-sizing: border-box;   
        }  
     button:hover {   
            opacity: 0.7;   
        }   
      .cancelbtn {   
            width: auto;   
            padding: 10px 18px;  
            margin: 10px 5px;  
        }   
            
         
     .container {   
    
            width: 50%;
            padding: 25px;   
            background-color: rgb(242, 140, 40);  
            color: rgb(0,0,0); 
            border-radius:20px;
        }   
    h1{
        color:white;
        padding-top:5%;
    }
    /* The alert message box */
.alert {
  padding: 20px;
  background-color: #FF5C5C; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
h1{
  padding-top: 10%;
}
    </style>
{% endblock style %}
   
{% block body %}

  {% for i in messages %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ i }}
    </div>
    {% endfor %}
<center> <h1> Customer Signup Form </h1> </center>   
    <form method = 'POST'>
        {% csrf_token %}
        <center>
            <div class="container">   
                <label>Username : </label>   
                <input type="text" placeholder="Enter Username" name="username" required>  
                <label>Password : </label>   
                <input type="password" placeholder="Enter Password" name="password" required>  
                <label>Confirm Password : </label>   
                <input type="password" placeholder="Confirm Password" name="password2" required>
                <button type="submit">Login</button>                   
            </div>
        </center> 
           
    </form>
{% endblock body %}   
